/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* #endregion Common */

/* #region Utilities */
.d_flex {
    display: flex;
}

.f_start {
    justify-content: flex-start;
}

.f_end {
    justify-content: flex-end;
}

.txt_center {
    text-align: center;
}

.col-4 {
    width: calc((100% / 12) * 4);
}

/* #endregion Utilities */

/* #region Body */
/* #region Header */
.menu {
    margin: 0.75rem 0;
}

.logo {
    padding: 1rem;
}

nav button{
    font-size: 1rem;
    background-color: white;
    color: grey;
    padding: 1rem;
    border: 0;
}

.register {
    background-color: blue;
    color: white;
    margin-right: 1rem;
    padding: 0.5rem 2rem;
}


/* #endregion Header */

/* #region Main */
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */
/* #endregion Body */