/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
}

ul {
    list-style: none;
}

li {
    padding: 0.5rem 0;
}
/* #endregion Common */

/* #region Utilities */
.d_flex {
    display: flex;
}

.f_start {
    justify-content: flex-start;
}

.f_end {
    justify-content: flex-end;
}

.s_between {
    justify-content: space-between;
}

.txt_center {
    text-align: center;
}

.txt_left {
    text-align: left;
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

<<<<<<< HEAD
.col-8 {
    width: calc((100% / 12) * 8);
}

.col-12 {
    width: calc((100% / 12) * 12);
}

=======
>>>>>>> f6d9b8a56cb6f8513b3ec22e7ba3b60ce025c733
.p_1 {
    padding: 1rem;
}

/* #endregion Utilities */

/* #region Body */
/* #region Header */
#site_header {
    background-color: aquamarine;
}

.menu {
    background-color: white;
    font-size: 1.25rem;
}

.logo {
    padding: 1.25rem;
}

.menu a:not(.register) {
    color: grey;
    padding: 0.25rem;
    margin: 1rem 0.75rem;
}

.register {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 0.25rem 1.5rem;
    margin: 1rem 0.75rem;
}

.container_header {
    width: 50%;
    max-width: 1300px;
    margin: auto;
    background-color: aquamarine;
}

.title {
    font-size: 3rem;
<<<<<<< HEAD
    margin: 2.5rem 0;
=======
    text-align: left;
    margin: 2.5rem 0;

>>>>>>> f6d9b8a56cb6f8513b3ec22e7ba3b60ce025c733
}

.col-5 p {
    padding: 1.5rem 0;
}

.col-5 a {
    background-color: blue;
    color: white;
    padding: 0.5rem;
}

.col-5 span {
    font-size: 5rem;
}
/* #endregion Header */

/* #region Main */
.container_main {
    width: 45%;
    max-width: 1000px;
    margin: auto;
    background-color: burlywood;
}

h2 {
    font-size: 2rem;
}

.card {
border: 1px solid black;
margin: 1rem;
}

.top_card {
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

<<<<<<< HEAD
.body_card {
    position: relative;
}

=======
>>>>>>> f6d9b8a56cb6f8513b3ec22e7ba3b60ce025c733
.free_trial {
    background-color: blue;
    color: white;
    padding: 0.5rem 2rem;
    line-height: 3rem;
}

<<<<<<< HEAD
.position {
    position: absolute;
    padding: 0rem 2rem;
    top: 1rem;
    right: 2%;
}

=======
>>>>>>> f6d9b8a56cb6f8513b3ec22e7ba3b60ce025c733
.shop_now {
    text-decoration: underline;
}

.footer_card {
    padding: 1rem;
}

.fa-check {
    color: blue;
}

<<<<<<< HEAD
.partner_box {
    margin: 3rem 0;
}

.partner_btn {
    padding: 0.5rem 1rem;
}

.show_more {
    margin: 4rem 0;
}

.show_more li {
    line-height: 4rem;
}

.show_more a {
    text-decoration: underline;
}

.square {
    height: 150px;
    width: 150px;
}
=======
>>>>>>> f6d9b8a56cb6f8513b3ec22e7ba3b60ce025c733
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */
/* #endregion Body */